<!DOCTYPE html>
<html lang="en">

<head>
  <base href="http://localhost:8010" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="./process.js"></script>
  <script src="./scripts/web3.js"></script>
</head>

<body>
  <h2>Minigame</h2>
  <button id="connectMM">Connect Metamask</button>
  <div id='registerForm'>
    <input type="text" id="txtEmail" placeholder="Email">
    <input type="text" id="txtName" placeholder="Name">
    <button id="btnRegist">Regist</button>
  </div>
</body>

</html>